body {font-family: calibri, arial, helvetica, sans-serif; color:#333; font-size:20px; margin:0px; background-color:#FFFFFF;}

input[type="text"]
{background-color: #D7F4FF;
border: 1px solid #00A6E7;
padding:3px;
color: #333; font-size: 17px;  width:240px;
}
input[type="submit"]
{
border-radius: 4px;
	color: #ffffff;
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	padding: 6px 10px;
	text-decoration: none;
	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	  transition: background-color 0.1s linear;	
	  

	   background-color: rgb( 58, 131, 213 ) ;
	  border: 1px solid rgb( 44, 91, 104 );	
	  
}

input[type="submit"]:hover
{	cursor: pointer; 
	   background-color: rgb( 51, 102, 204 );  
	  
}

